body {
    height: 768px;
    width: 1024px;
    background-image: url("../images/diego30.jpg");
    background-size: 100%;;
    background-repeat: no-repeat;
}

.animal {
    margin-right: 5px;
}

.gifDisplay {
    /*float: left;*/
    display: inline-table;
    vertical-align: top;
    /*margin top: 10px;*/
    padding-right: 10px;
}