body {
    height: 768px;
    width: 1024px;
    background-image: url("../images/diego30.jpg");
    background-size: 100%;;
    background-repeat: no-repeat;
}

.animal {
    margin-right: 5px;
}

/*.gifView {
    float: left;
    overflow: wrap;
    display: block;
    margin-left: 15px;
    vertical-align: top;
}*/

p {
    display: inline-block;
    /*float:left;*/
    overflow:wrap;
    vertical-align: top;
}

.gifDisplay {
    /*float: left;*/
    display: inline-block;
    vertical-align: top;
    margin left: 5px;
}